#container1, #container2, #container3{
border:2px solid black;
margin-bottom:10px; 
background:lightgrey;
box-sizing:border-box;
}


   
h1{text-align:center;
}
#container1Chilld, #container2Chilld, #container3Chilld{
width:75px;

   
text-align: center;
float:right;
border:0px solid gold;
}
#container1Chilld{
background: black;
color:gold;
}

#container2Chilld{
background: aquamarine;
color:red;
}

#container3Chilld{
background: tan;
color:white;
}


/* large devices */

@media only screen and (min-width:992px){

  *{
  box-sizing:border-box;
  }

    #container1, #container2,#container3 {
    border:2px solid black;
    margin-bottom:10px; 
    background:lightgrey;
    width:30%;
    margin:1%;
    box-sizing:border-box;
    float:left;
    }
    
    
}

/* medium size device */


@media only screen and (min-width:768px) and (max-width:991px){

  *{
  box-sizing:border-box;
  }

    
    #container1, #container2 {
    border:2px solid black;
    margin-bottom:10px; 
    background:lightgrey;
    width:48%;
    margin:1%;
    box-sizing:border-box;
    float:left;
    }
    #container3{
    border:2px solid black;
    margin-bottom:10px; 
    background:lightgrey;
    clear:both;
    }
}
